extends ../layouts/layout

//-
  body
    .container
      fieldset
        form(action='/', method='post')
          input.ghost-input(name='city', type='text', placeholder='Enter a City', required='')
          input.ghost-button(type='submit', value='Get Weather')
//-
